article {
  border: solid black;
  font-family: sans-serif;
  line-height: 1.4;
}
h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  background-color: #f2f4f2;
}
.price {
  font-size: 22px;
}
.shipping {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  color: #555b57;
}
.product {
  text-transform: uppercase;
  font-size: 16px;
}
a:link,
a:visited {
  color: rgb(0, 0, 0);
}
a:hover,
a:active {
  text-decoration: none;
}
button {
  border: none;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}
button p {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
button:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

li {
  list-style: square;
}
